<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Главное меню</title>
</head>
<body style="font-size: 20px">
    <a href=" {{ link_to_table_view }}"> • Посмотреть в табличном виде</a><br>
    <br>
    <a href=" {{ link_to_events_show }}"> • Посмотреть занятия </a><br>
    <a href=" {{ link_to_events_add}}"> • Создать новое занятие </a><br>
    <a href=" {{ link_to_events_remove }}"> • Удалить занятие </a><br>
    <br>
    <a href=" {{ link_to_teachers_add }}"> • Добавить преподователя </a><br>
    <a href=" {{ link_to_teachers_remove }}"> • Удалить преподователя </a><br>
    <br>
    <a href=" {{ link_to_groups_show }}"> • Посмотреть группы </a><br>
    <a href=" {{ link_to_groups_add }}"> • Добавить группу </a><br>
    <a href=" {{ link_to_groups_remove }}"> • Удалить группу </a><br>
    <br>
    <a href=" {{ link_to_place_show }}"> • Посмотреть места </a><br>
    <a href=" {{ link_to_place_add }}"> • Добавить места </a><br>
    <a href=" {{ link_to_place_remove }}"> • Удалить места </a><br>
    <br>
    <a href=" {{ link_to_subjects_show }}"> • Посмотреть предметы </a><br>
    <a href=" {{ link_to_subjects_add }}"> • Добавить предмет </a><br>
    <a href=" {{ link_to_subjects_remove }}"> • Удалить предмет </a><br>
</body>
</html>